[submodule "protobuf"]
	path = protobuf
	url = https://github.com/protocolbuffers/protobuf
[submodule "onnx"]
	path = onnx
	url = https://github.com/onnx/onnx
[submodule "onnxruntime"]
	path = mlrt/onnxruntime
	url = https://github.com/microsoft/onnxruntime
