#include <winver.h>

1 VERSIONINFO
FILEVERSION             1,0,3,0
PRODUCTVERSION        	1,0,3,0
FILEFLAGSMASK           VS_FFI_FILEFLAGSMASK
FILETYPE                VFT_DLL
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
        VALUE "Comments",         "ML filter runtimes."
        VALUE "FileDescription",  "mlrt_ncnn for AviSynth+."
        VALUE "FileVersion",      "1.0.3"
        VALUE "InternalName",     "mlrt_ncnn"
        VALUE "OriginalFilename", "mlrt_ncnn.dll"
        VALUE "ProductName",      "mlrt_ncnn"
        VALUE "ProductVersion",   "1.0.3"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
